html, body {
  margin: 0;
  height: 100%;
  background-color: #E8E0D5;
}


main h3 {
  color: #475B68;
}

.btn {
  background-color: #A7C5CC;
  color: #475B68;
  font-weight: bold;
}

.card-btn:hover {
  background-color: #475B68;
  color: #A7C5CC;
  cursor: pointer;
}

.nav-wrapper {
  background-color: #CE5654;
  color: #F0CCCB;
}

.brand-logo {
  color: #FAFBF7 !important;
  margin: 0px 0px 0px 10px !important;
}

main {
  text-align: center;
}

#card-holder {
  margin: 125px 0px 0px 0px;
  display: inline-block;
}

#card-processor {
  display: none;
}

.card {
  display: inline-block;
  background-color: #F5F9F4;
  color: #475B68;
}

#question {
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.answer {
  margin: 10px !important;
  color: red;
}

label {
  color: #475B68;;
}

.card-btn {
  margin: 0px 0px 15px 0px;
}

#check:disabled {
  cursor: not-allowed;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  display: flex;
  align-items: center;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: #A7C5CC;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid #475B68;
}

/*Cat break*/

#cat{
  display: block;
  margin: 50px auto 0px auto;
  width: 400px;
}

#new_cat {
  margin: 20px auto 0px auto;
}
